<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Detail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            text-align: center;
        }

        .filelist ul {
            list-style: none;
        }

        .filelist li, .filelist ul {
            padding: 0;
        }

        .forms {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    </style>
</head>
<body>
<div class="identity">
    <h2 class="identity-title-qr">User Account</h2>
    <p>{{.UserID}}</p>
</div>

<div class="forms">
<form action="/download">
    <h2>Download</h2>
    <div class="filelist">
        <h2 class="identity-title-qr">Files</h2>

        <select id="fileName" name="fileName">
            {{range .Files}}
                <option value="{{.}}">{{.}}</option>
            {{end}}
        </select>
    </div>

    <div class="password">
        <h2 class="identity-title-qr">One Time Password</h2>

        <input type="password" id="password" name="password"><br>
    </div>

    <input type="submit" value="Download"/> <a download></a>
    <input type="hidden" type="text" id="user" name="user" value="{{.UserID}}">
</form>

<form action="/upload" enctype="multipart/form-data" method="post">
    <h2>Upload</h2>
    <div class="filelist">
        <h2 class="identity-title-qr">File</h2>

        <input type="file" id="file" name="file">
    </div>

    <div class="password">
        <h2 class="identity-title-qr">One Time Password</h2>

        <input type="password" id="password" name="password"><br>
    </div>

    <input type="submit" value="Upload"/>
    <input type="hidden" type="text" id="user" name="user" value="{{.UserID}}">
</form>
</div>
</body>
</html>