<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Detail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/materialize.min.css" /> 
    <link rel="stylesheet" type="text/css" href="/assets/index.css" />
    <script src="/assets/materialize.min.js"></script>
    <style>
    body {
        width: unset;
        margin: 0;
    }

    .nav-wrapper .btn-flat {
        color: white;
    }

    .nav-wrapper {
        margin: 0 2.5rem;
    }

    .identity, .forms {
        width: 60vw;
        margin: 0 auto;
    }

    .upload {
        margin-top: 2.5rem;
    }

    #status {
        margin: 2.5rem auto;
        height: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #frameStatus {
        width: 100%;
    }

    @media only screen and (max-width: 600px) {
        .nav-wrapper {
            margin: 0 1.5rem;
        }

        .identity, .forms, #status {
            width: 90vw;
        }

        .identity, .forms {
            margin: 0 auto;
        }
    }
    </style>
</head>

<body>
<nav>
    <div class="nav-wrapper">
        <a>User: {{.UserID}}</a>
        <ul id="nav-mobile" class="right">
        <li>
            <form action="/deleteIdentity" method="post">

                <input class="btn-flat" type="submit" value="Delete User"/>
                <input type="hidden" type="text" name="user" value="{{.UserID}}">
                <input type="hidden" class="password" type="password" value="{{.Password}}" name="password">
            </form>
        </li>
        </ul>
    </div>
</nav>

<div class="forms">
    <div>
        <h4 class="identity-title-qr">One Time Password</h4>

        <input class="password" id="password" name="password" value="{{.Password}}" oninput="passwordInput(this.value)"><br>
    </div>
    <div class="filelist">
        <h4 class="identity-title-qr">Files</h4>
        <div class="input-field">
            <select id="mainSelector" class="select" class="fileName" name="fileName" onchange="fileChange(this.value)">
                {{range .Files}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
        </div>
    </div>

<form id="download" action="/download" method="post">
    <div class="buttons">
        <input class="btn" type="submit" value="Download" download/>
    </div>
    <select class="fileName" name="fileName" type="hidden">
        {{range .Files}}
            <option value="{{.}}">{{.}}</option>
        {{end}}
    </select>
    <input type="hidden" type="text" name="user" value="{{.UserID}}">
    <input type="hidden" class="password" type="password" value="{{.Password}}" name="password">
</form>

<form action="/deleteFile" method="post" target="frameStatus">
    <div class="buttons">
        <input class="btn" type="submit" value="Delete"/>
    </div>
    <select class="fileName" name="fileName" type="hidden">
        {{range .Files}}
            <option value="{{.}}">{{.}}</option>
        {{end}}
    </select>
    <input type="hidden" type="text" name="user" value="{{.UserID}}">
    <input type="hidden" class="password" type="password" value="{{.Password}}" name="password">
</form>

<form class="upload" action="/upload" enctype="multipart/form-data" method="post" target="frameStatus">
    <h4>Upload</h4>

    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file" id="file" name="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>

    <div class="buttons">
        <input class="btn" type="submit" value="Upload"/>
    </div>
    <input type="hidden" type="text" name="user" value="{{.UserID}}">
    <input type="hidden" class="password" type="password" value="{{.Password}}" name="password">
</form>

<div id="status">
    <iframe name="frameStatus" id="frameStatus"></iframe>
</div>
</div>

</body>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.select');
        var instances = M.FormSelect.init(elems, {});
    });

    function passwordInput(value) {
        document.querySelectorAll('.password').forEach(node => node.setAttribute("value", value))
    }

    function fileChange(value) {
        document.querySelectorAll('.fileName').forEach(node => node.value = value)
        document.querySelector('#download').action = "/download/" + value
    }

    fileChange(document.getElementById("mainSelector").value);
</script>
</html>