<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New OTP Identity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/materialize.min.css" defer/> 
    <link rel="stylesheet" type="text/css" href="/assets/index.css" defer/> 
    <style>
        .identity-qr {
            width: min-content;
            margin: 0 auto;
        }

        .identity-url, .buttons {
            width: 320px;
            margin: 1rem auto;
        }

        .buttons > * {
            width: 100%;
            margin-bottom: 2.5rem;
        }

        .identity-ref {
            overflow-wrap: anywhere;
        }
    </style>
</head>
<body>
<nav>
    <a href="/"><h5>OTP File Manager</h5></a>
</nav>
    <div class="identity-qr">
        <h4 class="identity-title-qr">OTP Code</h4>
        <img width="320px" height="320px" src="data:image/png;base64,{{.Image}}" alt="Blank"/>
    </div>
    <div class="identity-url">
        <h4 class="identity-title-url">OTP URL</h4>
        <a class="identity-ref" href="{{.OtpUrl}}">{{.OtpUrl}}</a>
    </div>
    <div class="buttons">
        <button class="btn" onclick="navigator.clipboard.writeText({{.OtpUrl}});" type="button">Copy OTP URL</button>
    </div>
</body>
</html>