<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OTP File Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/materialize.min.css" defer/> 
    <link rel="stylesheet" type="text/css" href="/assets/index.css" defer/> 
</head>
<body>
<nav>
    <a href="/"><h5>OTP File Manager</h5></a>
</nav>
<main>
    <form action="/login?resp=ai" method="POST">
        <label for="user">User</label><br>
        <input type="text" id="user" name="user"><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password">
        <br>
        <div class="buttons">
            <input class="btn" type="submit" value="Login">
            <button class="btn" onclick="window.location.href = '/createIdentity?resp=cb';" type="button">Create Account</button>
        <div>
    </form> 
</main>
</body>
</html>