<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New OTP Identity</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
<img src="data:image/png;base64,{{.Image}}" alt="Blank"/>
<div>
    <a href="{{.OtpUrl}}">{{.OtpUrl}}</a>
</div>
</body>
</html>