<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OTP File Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            text-align: center;
        }
        button {
            margin: 12px 0;
        }
    </style>
</head>
<body>

<div>
    <h2>Default OTP File Manager Interface</h2>
    <button onclick="window.location.href = '/createIdentity?resp=cb';" type="button">Create Account</button>
    <br>
    <button onclick="window.location.href = '/login';" type="button">Login</button>
</div>

</body>
</html>